@font-face {
    font-family: Oswald;
    src: url('./files/font/Oswald-Medium.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    scroll-behavior: smooth !important;
    
}
body,
html {
    width: 100%;
    height: 100%;

}
li {
    list-style: none;
}
a {
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*  */
.heading_common_style {
    font-family: Oswald !important;
    
}

/*  */
.bg-banner-img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: url(./files/images/build\ \(1\)\ \(1\).jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}
.bg-banner-img::before{
    content: '';
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1f5bffa8;
    backdrop-filter: blur(5px);
}
.hero-bg-imgStyle {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    transform: scale(1);
    transition: transform 6s ease;
}
.hero-bg-imgStyle.hero-bg-scale {
    transform: scale(1.3) !important;
}
.service_contain_wrap {
    transition: all 0.3s ease;
    padding: 20px 20px;
}
.service_contain_wrap:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service_contain_wrap:hover .service_svg_wrapper svg {
    color: #fff;

}
.service_contain_wrap:hover .service_svg_wrapper {
    background-color: #f56016;
    border-color: #f56016;
}
.service_svg_wrapper {
    border: 1px solid rgb(110, 110, 110);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_svg_wrapper svg{
    color: rgb(110, 110, 110);
    position: relative;
    height: 40px;
    width: 40px;
}
.guest-content-wrap {
    height: 100%;
    width: 100%;
    position: relative;
  
    /* border: 1px solid gray; */
    /* border-radius: 8px; */
    padding-bottom: 25px;
    
}
.guest-img-wrap {
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    border: 4px solid #fff;
    /* border-radius: 8px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.guest-img-wrap img{
    transition: transform 0.5s ease;
    /* border-radius: 8px; */
}
.guest-content-wrap:hover img{
    transform: scale(1.1);
    /* border-radius: 8px; */
}
.guest_social_media_wrap {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient( transparent,#00000071,#000000c0);
    /* background: linear-gradient( transparent,#4bc1ec6a,#4bc1eccf); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: translateY(100px);
    transition: transform 0.5s ease;
}
.guest-content-wrap:hover .guest_social_media_wrap{
    transform: translateY(0);
}
.media_item_wrap {
    height: 35px;
    width: 35px;
    border: 1px solid #223f93;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #223f93;
    cursor: pointer;
}
.media_item_wrap svg {
    height: 20px;
    width: 20px;
    color: #fff;
}
@media only screen and (max-width: 576px) {
    .guest_social_media_wrap {
          gap: 5px !important;
    }
    .media_item_wrap svg {
        height: 15px;
        width: 15px;
        color: #fff;
    }
    .media_item_wrap {
        height: 30px;
        width: 30px;
    }
    .guest-img-wrap {
    height: 200px;
    }
}
.media_item_wrap:hover {
    border: 1px solid #f56016;
    background-color: #f56016;
}
.footer-links-box ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}
.footer-links-box ul li svg{
   color: #475a93;
   height: 20px;
   width: 20px;
}
.footer-links-box ul li a{
    text-decoration: none;
}
.footer-links-box ul li:hover a{
    text-decoration: underline !important;
    color: #223f93;
}
.footer-links-box ul li:hover svg{
    color: #223f93;
}
.social-media-border {
    height: 35px;
    width: 35px;
    border: 1px solid #223f93;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-border svg {
    height: 20px;
    width: 20px;
    color: #223f93;
    
}
/*  */
.guest-img-container {
    position: relative;

}

.effect {
	margin: auto;
	/* box-shadow: 0 0 15px 5px rgba(0, 0, 0, .07); */
	background-color: #fff;
	border: 5px solid #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
 .effect {
	position: relative;
	overflow: hidden;
	background: #4bc2ec;
	text-align: center;
	cursor: pointer;

}


.tab-text p {
	color: #fff;
	margin: 0;
	font-size: 1rem
}







.effect.effect-three {
	/* background: linear-gradient(-45deg, #0C71E9 0, #034B96, 100%); */
	text-align: left
}


.effect.effect-three .tab-text:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border: 140px solid red;
	border-radius: 50% 0 0 50%;
	opacity: 0;
	transform: translate3d(50%, 50%, 0) rotate3d(0, 0, 1, 135deg);
	transition: all .35s .15s;
	border-color: transparent transparent transparent #fff
}

.effect.effect-three:hover .tab-text:before {
	transform: translate3d(50%, 50%, 0) rotate3d(0, 0, 1, 45deg);
	opacity: .8;
	transition-delay: 0s
}

.effect.effect-three p {
	position: absolute;
	width: 31px;
	height: 36px;
	bottom: 70px;
	right: -31px;
	font-size: 120%
}

.effect.effect-three p a {
	width: 31px;
	height: 36px;
	position: absolute;
	opacity: 0;
	transition: all .35s cubic-bezier(.25, .4, .2, .5) 0s
}

.effect.effect-three p a svg {
	color: #223f93;
	transition: transform .35s cubic-bezier(.5, .2, .4, .25) 0s
}

.effect.effect-three p a svg:hover {
	color: #f56016
}

.effect.effect-three:hover p a {
	opacity: 1
}

.effect.effect-three:hover p a:nth-child(1) {
	transform: translate3d(0, 60px, 0);
	-webkit-transform: translate3d(0, 60px, 0);
	transition: all .35s cubic-bezier(.5, .2, .4, .25) .15s;
	-webkit-transition: all .35s cubic-bezier(.5, .2, .4, .25) .15s
}

.effect.effect-three:hover p a:nth-child(1) svg {
	transform: translate3d(-100px, 0, 0);
	transition: transform .35s cubic-bezier(.25, .4, .2, .5) .15s;
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: transform .35s cubic-bezier(.25, .4, .2, .5) .15s
}

.effect.effect-three:hover p a:nth-child(2) {
	transform: translate3d(0, 30px, 0);
	transition: all .35s cubic-bezier(.5, .2, .4, .25) .25s;
	-webkit-transform: translate3d(0, 30px, 0);
	-webkit-transition: all .35s cubic-bezier(.5, .2, .4, .25) .25s
}

.effect.effect-three:hover p a:nth-child(2) svg {
	transform: translate3d(-80px, 0, 0);
	transition: transform .35s cubic-bezier(.25, .4, .2, .5) .25s;
	-webkit-transform: translate3d(-80px, 0, 0);
	-webkit-transition: transform .35s cubic-bezier(.25, .4, .2, .5) .25s
}

.effect.effect-three:hover p a:nth-child(3) {
	transform: translate3d(0, 0, 0);
	transition: all .35s cubic-bezier(.5, .2, .4, .25) .35s;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all .35s cubic-bezier(.5, .2, .4, .25) .35s
}

.effect.effect-three:hover p a:nth-child(3) svg {
	transform: translate3d(-45px, 0, 0);
	transition: transform .35s cubic-bezier(.25, .4, .2, .5) .35s;
	-webkit-transform: translate3d(-45px, 0, 0);
	-webkit-transition: transform .35s cubic-bezier(.25, .4, .2, .5) .35s
}

.effect.effect-three img {
	transform: scale3d(1.1, 1.1, 1) translate3d(10px, 0, 0);
	transition: all .35s;
	transform-origin: 85% 100%;
	-webkit-transform: scale3d(1.1, 1.1, 1) translate3d(10px, 0, 0);
	-webkit-transition: all .35s;
	-webkit-transform-origin: 85% 100%
    
}

.effect.effect-three:hover img {
	transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
	-webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0);
	opacity: .6
}




/* //////////////////// */
.main-team-member-box {
    padding: 20px 0px;
    animation: boxSlide 20s linear infinite;
}
.main-team-member-box2 {
    padding: 20px 0px;
    animation: boxSlide2 20s linear infinite;
}
@keyframes boxSlide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes boxSlide2 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
.team-member-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 20px;
    width: 200px !important;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0px 10px;
}